<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= 'v'+ __webpack_hash__ %></title>
	<!-- "title + VERSION" + -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<title>版本识别码: ?t=334</title>-->
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=331a358dfab40f1643316d0f8598f534"></script>

</head>

<body>
	<div id="container"></div>
	<div id="reactcontainer">这里是react的根</div>

</body>
<script>
	/**
	* 处理高德图层  这个必须在顶层
	* 
	* */
	const map=new AMap.Map('container',{
		//layers: [maplayer], //当只想显示标准图层时layers属性可缺省
		mapStyle: 'amap://styles/dark', //设置地图的显示样式
		showLabel: false, //不显示地图文字标记
		center: [109,34.2],
		zoom: 11
	});
	window.map=map;
</script>

</html>
