@font-face {
	font-family: 'MyFont';
	src:  
				url('./icomoon.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
body{
	font-family: 'MyFont', 'San Francisco Display', 'Helvetica Neue', 'Lucida Grande', 'noto sans',
	Helvetica, Arial, sans-serif;
	background-color: indigo;
	color: aquamarine;
	background: url('./girl.jpg');
}
.hello{
	color: coral;
}
